@model IEnumerable<OnlineLibraryManagement.Models.Phieutrasach>

@{
    ViewData["Title"] = "Phiếu trả sách";
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
}

<h2 class="text-center mt-5 mb-3">- Phiếu trả sách -</h2>

<div class="p-3 rounded-3 shadow bg-light">
    <table class="table rounded-3 overflow-hidden table-hover">
        <thead class="align-middle text-light table-bordered" style="background-color:#627fd9">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Maphieu)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Ngaylapphieu)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Sosachtra)
                </th>
				<th>
					@Html.DisplayNameFor(model => model.Matt)
				</th>
                <th class="text-center border-start"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="align-middle">
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Maphieu)
                    </td>
                    <td class="text-center">
                        @item.Ngaylapphieu.Value.ToShortDateString()
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Sosachtra)
                    </td>
                    <td>
                        @item.MattNavigation.Tentt
                    </td>
                    <td class="text-center border-start">
                        <a asp-action="chitietPhieutrasach" asp-route-id="@item.Maphieu" class="btn btn-primary">Xem chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
