@model IEnumerable<OnlineLibraryManagement.Models.Phieumuonsach>

@{
    ViewData["Title"] = "Danh sách phiếu mượn";
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
}

<h2 class="text-center mt-5 mb-3">- Phiếu mượn sách -</h2>

@{
    QuanLyThuVienContext db = new QuanLyThuVienContext();
    Phieumuonsach pms = ViewBag.PhieuMoi;

    if (!ViewBag.dangLapPhieu)
    {
        <a asp-action="timSach" class="btn btn-success">Lập phiếu mượn sách</a>
    }
    else {
        <div class="p-3 rounded-3 shadow bg-light">
            <h3>Phiếu mượn đang lập</h3>
            <hr />
            <a asp-action="taoPhieu" class="btn btn-primary me-1">Tạo phiếu</a>
            <a asp-action="huyPhieu" class="btn btn-danger">Hủy phiếu</a>

            <dl class="row mt-3">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ngaylapphieu)
                </dt>
                <dd class="col-sm-10">
                    @pms.Ngaylapphieu.Value.ToShortDateString()
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Soluongsach)
                </dt>
                <dd class="col-sm-10">
                    @pms.Soluongsach
                </dd>
            </dl>
            <table class="table rounded-3 overflow-hidden table-hover">
                <thead class="align-middle table-bordered" style="background-color:#b0bee8">
                    <tr>
                        <th>
                        </th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Thể loại
                        </th>
                        <th>
                            Tác giả
                        </th>
                        <th>
                            Nhà xuất bản
                        </th>
                        <th class="border-start">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Sach s in ViewBag.dsSach)
                    {
                        <tr>
						    <td>
							    @{
								    if (!string.IsNullOrEmpty(s.Anhbia))
								    {
									    string tenFile = "~/img/" + s.Anhbia;
									    <img height="130" width="80" src="@Url.Content(tenFile)" class="rounded"/>
								    }
							    }
						    </td>
                            <td>
                                <b>@s.Tensach</b><br />
                                Năm XB: @s.Namxuatban
                            </td>
                            <td>
                                @s.MaloaiNavigation.Tenloai
                            </td>
                            <td>
                            @{
                                List<Phienbansach> dsPhienBanSach = db.Phienbansach.Where(x => x.Masach == s.Masach).ToList();
                                for (int i = 0; i < dsPhienBanSach.Count; i++)
                                {
                                    Phienbansach p = dsPhienBanSach[i];
                                    string tenTacgia = db.Tacgia.Find(p.Matacgia).Tentacgia;
                                    if (i == 0)
                                    {
                                        <text>@tenTacgia</text>
                                        <br />
                                    }
                                    else if (i >= 1 && i < dsPhienBanSach.Count)
                                    {
                                        <text> @tenTacgia</text>
                                        <br />
                                    }
                                }
                            }
                            </td>
                            <td>
                                @s.ManxbNavigation.Tennxb
                            </td>
                            <td class="text-center align-middle border-start">
                                <a asp-action="xoaSach" asp-route-id="@s.Masach" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<div class="p-3 mt-4 rounded-3 shadow bg-light">
    <table class="table rounded-3 overflow-hidden table-hover">
        <thead class="align-middle text-light table-bordered" style="background-color:#627fd9">
        <tr>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Maphieu)
            </th>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Ngaylapphieu)
            </th>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Ngaypheduyet)
            </th>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Hantra)
            </th>
                <th class="text-center">
                @Html.DisplayNameFor(model => model.Soluongsach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matinhtrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matt)
            </th>
            <th class="border-start"></th>
        </tr>
    </>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Maphieu)
                </td>
                <td class="text-center">
                    @item.Ngaylapphieu.Value.ToShortDateString()
                </td>
                <td class="text-center">
                    @if (item.Ngaypheduyet != null) @item.Ngaypheduyet.Value.ToShortDateString()
                    else
                    {
                        <text>--/--</text>
                    }
                </td>
                <td class="text-center">
                    @if (item.Hantra != null) @item.Hantra.Value.ToShortDateString()
                    else
                    {
                        <text>--/--</text>
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Soluongsach)
                </td>
                <td>
                    @if (item.MatinhtrangNavigation != null)
                    {
                    <strong>@item.MatinhtrangNavigation.Tentinhtrang</strong>
                    }
                </td>
                <td>
                    @if (item.MattNavigation != null) @item.MattNavigation.Tentt
                    else
                    {
                        <div class="text-center me-5">#</div>
                    }
                </td>
                    <td class="text-center border-start" style="width: 12em">
                    <a asp-action="chitietPhieumuonsach" asp-route-id="@item.Maphieu" class="btn btn-primary">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
