@model IEnumerable<OnlineLibraryManagement.Models.Docgia>

@{
	ViewData["Title"] = "Danh sách độc giả";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1 class="mt-4 mb-4">Danh sách các độc giả</h1>
<div class="p-3 bg-light">
	<table class="table overflow-hidden border-top align-middle table-hover">
		<thead class="border-top border-dark table-bordered">
			<tr>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Madocgia)
				</th>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Matk)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Tendocgia)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ngaysinh)
				</th>
				<th>
					Email
				</th>
				<th class="text-center border-start" style="width: 7em">
					Tác vụ
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Madocgia)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Matk)
					</td>
					<td>
						@if (item.Tendocgia != null)
						{
							@item.Tendocgia
						}
					</td>
					<td>
						@if (item.Ngaysinh != null)
						{
							@item.Ngaysinh.Value.ToShortDateString()
						}
					</td>
					<td>
						@if (item.MatkNavigation != null)
						{
							@item.MatkNavigation.Email
						}
					</td>
					<td class="text-center border-start">
						<a asp-action="formXemCTDocGia" class="btn btn-primary" asp-route-madocgia="@item.Madocgia">
							<i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>