@model OnlineLibraryManagement.MyModels.CTheloai

@{
	ViewData["Title"] = "Xóa thể loại";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
<div class="mx-auto" style="width:50em">
	<div class="mt-5 d-flex">
		<h2 style="margin-bottom:0">
			@if (ViewBag.flag == true)
			{
				<text>Xóa thể loại</text>
			}
			else
			{
				<text>Bạn không thể xóa thể loại này</text>
			}
		</h2>
		<a asp-action="Index" class="btn bg-light ms-auto">
			<i class="fa-solid fa-angle-left me-1"></i>Trở lại danh sách
		</a>
	</div>
	<hr />
</div>
<div>
	<dl class="row mx-auto p-4 bg-light" style="width:30em">
		<dt class="col-sm-4 border-end">
			@Html.DisplayNameFor(model => model.Maloai)
		</dt>
		<dd class="col-sm-8">
			@Html.DisplayFor(model => model.Maloai)
		</dd>
		<dt class="col-sm-4 border-end pt-1">
			@Html.DisplayNameFor(model => model.Tenloai)
		</dt>
		<dd class="col-sm-8 pt-1">
			@Html.DisplayFor(model => model.Tenloai)
		</dd>
	</dl>
	<div class="text-center mt-4">
		@if (ViewBag.flag == true)
		{
			<h4>Bạn có chắc chắn muốn xóa thể loại @Model.Tenloai?</h4>
			<form asp-action="xoaTheloai" method="post">
				<input type="hidden" name="id" value="@Model.Maloai" />
				<input type="submit" value="Xóa" class="btn btn-danger" />
			</form>
		}
		else
		{
			<h4>Đã tồn tại cuốn sách thuộc thể loại @Model.Tenloai</h4>
		}
	</div>

</div>
