@model IEnumerable<OnlineLibraryManagement.MyModels.CTheloai>

@{
	ViewData["Title"] = "Thể loại";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1 class="mt-4 mb-4">Danh sách thể loại</h1>

<p>
	<a data-bs-toggle ="modal" data-bs-target="#formModal" class="btn btn-success" style="padding-left:1em">
		<i class="fa-solid fa-plus me-2" style="color: #ffffff;"></i>Thêm thể loại
	</a>
</p>
<div class="p-3 bg-light text-center">
	<table class="table overflow-hidden border-top align-middle table-hover">
		<thead class="border-top border-dark  table-bordered">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Maloai)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Tenloai)
				</th>
				<th class="text-center">
					Tác vụ
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Maloai)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tenloai)
					</td>
					<td>
						<a asp-action="frmSuaTheloai" asp-route-id="@item.Maloai" class="btn btn-primary me-2">
							<i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
						</a>
						<a asp-action="frmXoaTheloai" asp-route-id="@item.Maloai" class="btn btn-danger">
							<i class="fa-solid fa-trash" style="color: #ffffff"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="container">
	<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title mt-1">Thêm thể loại</h4>
					<button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ms-4 me-4">
					<label class="form-label">
						@Html.DisplayNameFor(model => model.Tenloai)
					</label>
					<input class="form-control" id="tenloai">
					<span class="text-danger" id="validten"></span>
				</div>
				<div class="modal-footer border-0">
					<input type="button" value="Thêm" onclick="themTheloai()" class="btn btn-success me-4 mb-3" />
				</div>
			</div>
		</div>
	</div>
</div>
