@model IEnumerable<OnlineLibraryManagement.Models.Phieutrasach>

@{
    ViewData["Title"] = "Phiếu trả sách";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    <script>
        alert('@Html.Raw(TempData["Message"])');
    </script>
}
<h1>Danh sách các phiếu trả sách</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maphieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaylapphieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sosachtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ghichu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maphieumuon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matt)
            </th>
            <th>
                Độc giả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maphieu)
                </td>
                <td>
                    @if (item.Ngaylapphieu != null)
                    {
                        @item.Ngaylapphieu.Value.ToShortDateString()
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sosachtra)
                </td>
                <td>
                    @if(string.IsNullOrEmpty(item.Ghichu))
                    {
                        <p>Không có</p>
                    }
                    else
                    {
                        @item.Ghichu;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maphieumuon)
                </td>
                <td>
                    @if (item.MattNavigation != null)
                    {
                        @item.MattNavigation.Tentt
                    }
                </td>
                <td>
                    @item.MaphieumuonNavigation.MadocgiaNavigation.Tendocgia
                </td>
                <td>
                    <a asp-action="formXemCTPhieuTra" class="btn btn-primary" asp-route-maphieutra="@item.Maphieu">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
