@model OnlineLibraryManagement.Models.Phieumuonsach

@{
    ViewData["Title"] = "Chi tiết phiếu mượn";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}
@{
    QuanLyThuVienContext db = new QuanLyThuVienContext();
}
<h1>Chi tiết phiếu mượn</h1>
<a asp-action="DSPhieuMuon_Thuthu" class="btn btn-primary">Quay lại</a>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maphieu)
        </dt>
        <dd class="col-sm-10">
@*             <input class="border-0" readonly id="Maphieu" value="@Model.Maphieu"/> *@
            <p id="Maphieu">@Model.Maphieu</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaylapphieu)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ngaylapphieu != null)
            {
                @Model.Ngaylapphieu.Value.ToShortDateString()
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaypheduyet)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ngaypheduyet != null)
            {
                @Model.Ngaypheduyet.Value.ToShortDateString()
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hantra)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Hantra != null)
            {
                @Model.Hantra.Value.ToShortDateString()
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soluongsach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soluongsach)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matinhtrang)
        </dt>
        <dd class="col-sm-10">
            @if (Model.MatinhtrangNavigation != null)
            {
                @Model.MatinhtrangNavigation.Tentinhtrang
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matt)
        </dt>
        <dd class="col-sm-10">
            @if (Model.MattNavigation != null)
            {
                @Model.MattNavigation.Tentt
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Madocgia)
        </dt>
        <dd class="col-sm-10">
            @Model.MadocgiaNavigation.Tendocgia
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ghichu)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Matinhtrang == 1)
            {
                <input id="Ghichu" placeholder="Nhập ghi chú (nếu có)" value="@Model.Ghichu" class="form-control" />
            }
            else
            {
                if (string.IsNullOrEmpty(Model.Ghichu))
                {
                    <p>Không có</p>
                }
                else
                {
                    @Model.Ghichu
                }
            }
        </dd>
    </dl>
</div>

<h3>Các cuốn sách độc giả muốn mượn</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sách
            </th>
            <th>
                Năm xuất bản
            </th>
            <th>
                Ảnh bìa
            </th>
            <th>
                Thể loại
            </th>
            <th>
                Nhà xuất bản
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Tình trạng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Chitietphieumuon item in ViewBag.DSCTPhieuMuon)
        {
            <tr>
                <td>
                    @item.MasachNavigation.Tensach
                </td>
                <td>
                    @item.MasachNavigation.Namxuatban
                </td>
                <td>
                    @{
                        if (!string.IsNullOrEmpty(item.MasachNavigation.Anhbia))
                        {
                            string tenFile = "~/img/" + item.MasachNavigation.Anhbia;
                            <img height="100" width="50" src="@Url.Content(tenFile)" />
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.MasachNavigation.MaloaiNavigation != null)
                        {
                            <p>@item.MasachNavigation.MaloaiNavigation.Tenloai</p>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.MasachNavigation.ManxbNavigation != null)
                        {
                            <p>@item.MasachNavigation.ManxbNavigation.Tennxb</p>
                        }
                    }
                </td>
                <td>
                    @{
                        List<Phienbansach> dsPhienBanSach = db.Phienbansach.Where(x => x.Masach == item.MasachNavigation.Masach).ToList();
                        for (int i = 0; i < dsPhienBanSach.Count; i++)
                        {
                            Phienbansach p = dsPhienBanSach[i];
                            string tenTacgia = db.Tacgia.Find(p.Matacgia).Tentacgia;
                            if (i == 0)
                            {
                                <text>@tenTacgia</text>
                            }
                            else if (i >= 1 && i < dsPhienBanSach.Count)
                            {
                                <text>, @tenTacgia</text>
                            }
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.MatinhtrangNavigation != null)
                        {
                            <p>@item.MatinhtrangNavigation.Tentinhtrang</p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Matinhtrang == 1)
{
    <div>
      @*   <a asp-controller="Phieumuonsach" asp-action="xacNhanMuonSach" asp-route-maphieumuon="@Model.Maphieu" class="btn btn-success">Xác nhận</a> |
        <a asp-controller="Phieumuonsach" asp-action="tuChoiMuonSach" asp-route-maphieumuon="@Model.Maphieu" class="btn btn-danger">Từ chối</a> *@
        <input type="button" value="Xác nhận" onclick="xacnhanMuonSach()" class="btn btn-success" /> |
        <input type="button" value="Từ chối" onclick="tuchoiMuonSach()" class="btn btn-danger" />
    </div>
}
else if (Model.Matinhtrang == 2)
{
    <div>
        <a asp-controller="Phieutrasach" asp-action="formLapPhieuTra" asp-route-maphieumuon="@Model.Maphieu" class="btn btn-success">Lập phiếu trả</a>
    </div>
}
else if (Model.Matinhtrang == 3)
{
    <div>
        @{
            int maphieutra = db.Phieutrasach.Where(x => x.Maphieumuon == Model.Maphieu).FirstOrDefault().Maphieu;
        }
        <a asp-controller="Phieutrasach" asp-action="formXemCTPhieuTra" class="btn btn-success" asp-route-maphieutra="@maphieutra">Xem chi tiết phiếu trả</a>
    </div>
}

<script>
    function xacnhanMuonSach() {
        let maphieu = parseInt(document.getElementById("Maphieu").innerHTML);
        let ghichu = document.getElementById("Ghichu").value;
        let data = {
            Maphieumuon: maphieu,
            Ghichu: ghichu
        };
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            if (JSON.parse(xhttp.responseText) == true) {
                alert("Xác nhận yêu cầu mượn sách thành công");
                location.href = "/Phieumuonsach/DSPhieuMuon_Thuthu";
            }
            else {
                alert("Xác nhận yêu cầu mượn sách thất bại");
            }
        }
        var url = "/Phieumuonsach/xacNhanMuonSach";
        xhttp.open("POST", url);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(data));
    }

    function tuchoiMuonSach()
    {
        let maphieu = parseInt(document.getElementById("Maphieu").innerHTML);
        let ghichu = document.getElementById("Ghichu").value;
        let data = {
            Maphieumuon: maphieu,
            Ghichu: ghichu
        };
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            if (JSON.parse(xhttp.responseText) == true) {
                alert("Từ chối yêu cầu mượn sách thành công");
                location.href = "/Phieumuonsach/DSPhieuMuon_Thuthu";
            }
            else {
                alert("Từ chối yêu cầu mượn sách thất bại");
            }
        }
        var url = "/Phieumuonsach/tuChoiMuonSach";
        xhttp.open("POST", url);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(data));
    }
</script>

