@model OnlineLibraryManagement.Models.Sach

@{
    ViewData["Title"] = "Xóa sách";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1>Xóa sách</h1>

<h3>Bạn chắc chắn muốn xóa cuốn sách này?</h3>
<div>
    <hr />
    <dl class="row">
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Masach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Masach)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Namxuatban)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Namxuatban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>
        <dd class="col-sm-10">
            @{
                if (!string.IsNullOrEmpty(Model.Anhbia))
                {
                    string tenFile = "~/img/" + Model.Anhbia;
                    <img height="150" width="100" src="@Url.Content(tenFile)" />
                }
                else
                {
                    <p>Không có</p>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maloai)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.MaloaiNavigation != null)
                {
                    <p>@Model.MaloaiNavigation.Tenloai</p>
                }
                else
                {
                    <p>Chưa có</p>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manxb)
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.ManxbNavigation != null)
                {
                    <p>@Model.ManxbNavigation.Tennxb</p>
                }
                else
                {
                    <p>Chưa có</p>
                }
            }
        </dd>
    </dl>
    <div>
        <h3>Danh sách tác giả</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên tác giả
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Quốc tịch
                    </th>
                    <th>
                        Vai trò
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Phienbansach)
                {
                    <tr>
                        <td>
                            @item.MatacgiaNavigation.Tentacgia
                        </td>
                        <td>
                            @{
                                if (@item.MatacgiaNavigation.Ngaysinh != null)
                                {
                                    <p>@item.MatacgiaNavigation.Ngaysinh.Value.ToShortDateString()</p>
                                }

                            }
                        </td>
                        <td>
                            @item.MatacgiaNavigation.Quoctich
                        </td>
                        <td>
                            @item.Vaitro
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <form asp-action="xoaSach">
        <input type="hidden" name="masach" value="@Model.Masach" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Index">Quay lại</a>
    </form>
</div>
