@model OnlineLibraryManagement.Models.Sach

@{
    ViewData["Title"] = "Thay đổi thông tin sách";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1>Thay đổi thông tin sách</h1>
<div>
    <a class="btn btn-success" asp-action="Index">Xem danh sách các sách</a>
</div>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="suaSach" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Masach" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Tensach" class="control-label"></label>
                <input asp-for="Tensach" class="form-control" />
                <span asp-validation-for="Tensach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input type="number" asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namxuatban" class="control-label"></label>
                <input type="number" asp-for="Namxuatban" class="form-control" />
                <span asp-validation-for="Namxuatban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anhbia" class="control-label">Thay đổi ảnh bìa</label>
                <input type="hidden" asp-for="Anhbia" class="form-control" />
                <input type="file" name="fileImg"  class="form-control" />
                <span asp-validation-for="Anhbia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maloai" class="control-label"></label>
                <select asp-for="Maloai" asp-items="@ViewBag.DSTheLoai" class="form-select"></select>
                <span asp-validation-for="Maloai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manxb" class="control-label"></label>
                <select asp-for="Manxb" asp-items="@ViewBag.DSNhaXuatBan" class="form-select"></select>
                <span asp-validation-for="Manxb" class="text-danger"></span>
            </div>
            <br />
@*             <div>
                <a asp-action="formChonTacGia" class="btn btn-primary">Chỉnh sửa tác giả</a>
            </div> *@
            @{
                if (Model != null)
                {
                    <div>
                        <h3>Danh sách tác giả</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Tên tác giả
                                    </th>
                                    <th>
                                        Ngày sinh
                                    </th>
                                    <th>
                                        Quốc tịch
                                    </th>
                                    <th>
                                        Vai trò
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.Phienbansach)
                                    {
                                                 <tr>
                                                     <td>
                                                         @item.MatacgiaNavigation.Tentacgia
                                                     </td>
                                                     <td>
                                                         @{
                                                             if (item.MatacgiaNavigation.Ngaysinh != null)
                                                             {
                                                        <p>@item.MatacgiaNavigation.Ngaysinh.Value.ToShortDateString()</p>
                                                             }
                                                         }

                                                     </td>
                                                     <td>
                                                         @item.MatacgiaNavigation.Quoctich
                                                     </td>
                                                     <td>
                                                         @item.Vaitro
                                                     </td>
                                                 </tr>
                                    }
                                }
                               
                            </tbody>
                        </table>
                    </div>
                }
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Sửa" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @{
            if (!string.IsNullOrEmpty(Model.Anhbia))
            {
                string tenFile = "~/img/" + Model.Anhbia;
                <img class="justify-content-center" height="500" width="300" src="@Url.Content(tenFile)" />
            }
        }
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
