@model IEnumerable<OnlineLibraryManagement.Models.Tacgia>

@{
	ViewData["Title"] = "Chọn tác giả";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="mt-5 d-flex">
	<h2 style="margin-bottom:0">Chọn tác giả cho cuốn sách mới</h2>
	<a asp-action="Index" class="btn bg-light ms-auto">
		<i class="fa-solid fa-angle-left me-1"></i>Trở lại danh sách
	</a>
</div>
<hr />
<div class="mt-4 p-3 bg-light">
	<table class="table overflow-hidden table-hover">
		<thead class="border-top border-dark align-middle table-bordered">
			<tr>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Matacgia)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Tentacgia)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ngaysinh)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Quoctich)
				</th>
				<th>
					Vai trò
				</th>
				<th class="text-center border-start">Tác vụ</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<form asp-action="chonTacGia" method="post">
					<tr>
						<td class="text-center">
								@Html.DisplayFor(modelItem => item.Matacgia)
						</td>
						<td>
								@Html.DisplayFor(modelItem => item.Tentacgia)
						</td>
						<td>
							@if (item.Ngaysinh != null)
								@item.Ngaysinh.Value.ToShortDateString()
							else
							{
								<text>Không rõ</text>
							}
						</td>
						<td>
								@Html.DisplayFor(modelItem => item.Quoctich)
						</td>
						<td>
							<select name="vaitro" class="form-select">
									@{
										foreach (var vt in ViewBag.DSVaitro)
										{
										<option value="@vt">@vt</option>
										}
									}
							</select>
						</td>
						<td class="text-center border-start">
							<input type="hidden" value="@item.Matacgia" name="matacgia" />
							<input type="submit" value="Chọn" class="btn btn-primary" />
						</td>
					</tr>
				</form>
			}
		</tbody>
	</table>
</div>
