@model OnlineLibraryManagement.MyModels.CNhaxuatban

@{
    ViewData["Title"] = "frmXoaNhaxuatban";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

@if (ViewBag.flag == true)
{
    <h1>Xóa nhà xuất bản</h1>
}
else
{
    <h1>Bạn không thể xóa nhà xuất bản này</h1>
}

<div>
    <hr />
    <dl class="row">
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manxb)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tennxb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennxb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
    </dl>
    @if (ViewBag.flag == true)
    {
        <h3>Bạn có chắc chắn muốn xóa @Model.Tennxb?</h3>
        <form asp-action="xoaNhaxuatban" method="post">
            <input type="hidden" name="id" value="@Model.Manxb" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Trở lại</a>
        </form>
    }
    else
    {
        <h3>Đã tồn tại cuốn sách thuộc quyền xuất bản của @Model.Tennxb</h3>
        <a asp-action="Index" class="btn btn-primary">Trở lại</a>
    }
    
</div>
