@model OnlineLibraryManagement.MyModels.CNhaxuatban

@{
    ViewData["Title"] = "frmXoaNhaxuatban";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="mx-auto" style="width:50em">
    <div class="mt-5 d-flex">
        <h2 style="margin-bottom:0">
            @if (ViewBag.flag == true)
            {
                <text>Xóa nhà xuất bản</text>
            }
            else
            {
                <text>Bạn không thể xóa nhà xuất bản này</text>
            }
        </h2>
        <a asp-action="Index" class="btn bg-light ms-auto">
            <i class="fa-solid fa-angle-left me-1"></i>Trở lại danh sách
        </a>
    </div>
    <hr />
</div>
<div>
    <dl class="row mx-auto p-4 bg-light" style="width:30em">
        <dt class="col-sm-4 border-end">
            @Html.DisplayNameFor(model => model.Manxb)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Manxb)
        </dd>
        <dt class = "col-sm-4 border-end pt-1">
            @Html.DisplayNameFor(model => model.Tennxb)
        </dt>
        <dd class = "col-sm-8 pt-1">
            @Html.DisplayFor(model => model.Tennxb)
        </dd>
        <dt class = "col-sm-4 border-end pt-1">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8 pt-1">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4 border-end pt-1">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-8 pt-1">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
    </dl>
    <div class="text-center mt-4">

    @if (ViewBag.flag == true)
    {
        <h3>Bạn có chắc chắn muốn xóa @Model.Tennxb?</h3>
        <form asp-action="xoaNhaxuatban" method="post">
            <input type="hidden" name="id" value="@Model.Manxb" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
        </form>
    }
    else
    {
        <h4>Đã tồn tại cuốn sách thuộc quyền xuất bản của @Model.Tennxb</h4>
    }
    </div>
</div>
