@model OnlineLibraryManagement.MyModels.CTacgia

@{
    ViewData["Title"] = "frmXoaTacgia";
    Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

@if (ViewBag.flag == true)
{
    <h1>Xóa tác giả</h1>
}
else
{
    <h1>Bạn không thể xóa tác giả này</h1>
}

<div>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matacgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matacgia)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tentacgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tentacgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Ngaysinh != null)
                @Model.Ngaysinh.Value.ToShortDateString()
            else
            {
                <p>Không rõ</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaymat)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Ngaymat != null)
                @Model.Ngaymat.Value.ToShortDateString()
            else
            {
                <p>Không rõ</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quoctich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quoctich)
        </dd>
    </dl>
    @if (ViewBag.flag == true)
    {
        <h3>Bạn có chắc chắn muốn xóa tác giả @Model.Tentacgia ?</h3>
        <form asp-action="xoaTacgia" method="post">
            <input type="hidden" name="id" value="@Model.Matacgia" />
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Trở lại</a>
        </form>
    }
    else
    {
        <h3>Đã tồn tại cuốn sách thuộc sở hữu của tác giả @Model.Tentacgia</h3>
        <a asp-action="Index" class="btn btn-primary">Trở lại</a>
    }
   
</div>
