@model OnlineLibraryManagement.MyModels.CTacgia

@{
	ViewData["Title"] = "frmXoaTacgia";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<div class="mx-auto" style="width:50em">
	<div class="mt-5 d-flex">
		<h2 style="margin-bottom:0">
			@if (ViewBag.flag == true)
			{
				<text>Xóa tác giả</text>
			}
			else
			{
				<text>Bạn không thể xóa tác giả này</text>
			}
		</h2>
		<a asp-action="Index" class="btn bg-light ms-auto">
			<i class="fa-solid fa-angle-left me-1"></i>Trở lại danh sách
		</a>
	</div>
	<hr />
</div>
<div>
	<dl class="row mx-auto p-4 bg-light" style="width:30em">
		<dt class="col-sm-4 border-end">
			@Html.DisplayNameFor(model => model.Matacgia)
		</dt>
		<dd class="col-sm-8">
			@Html.DisplayFor(model => model.Matacgia)
		</dd>
		<dt class="col-sm-4 border-end pt-1">
			@Html.DisplayNameFor(model => model.Tentacgia)
		</dt>
		<dd class="col-sm-8 pt-1">
			@Html.DisplayFor(model => model.Tentacgia)
		</dd>
		<dt class="col-sm-4 border-end pt-1">
			@Html.DisplayNameFor(model => model.Ngaysinh)
		</dt>
		<dd class="col-sm-8 pt-1">
			@if (Model.Ngaysinh != null)
				@Model.Ngaysinh.Value.ToShortDateString()
			else
			{
				<text>Không rõ</text>
			}
		</dd>
		<dt class="col-sm-4 border-end pt-1">
			@Html.DisplayNameFor(model => model.Ngaymat)
		</dt>
		<dd class="col-sm-8 pt-1">
			@if (Model.Ngaymat != null)
				@Model.Ngaymat.Value.ToShortDateString()
			else
			{
				<text>Không rõ</text>
			}
		</dd>
		<dt class="col-sm-4 border-end pt-1">
			@Html.DisplayNameFor(model => model.Quoctich)
		</dt>
		<dd class="col-sm-8 pt-1">
			@Html.DisplayFor(model => model.Quoctich)
		</dd>
	</dl>
	<div class="text-center mt-4">
		@if (ViewBag.flag == true)
		{
			<h4>Bạn có chắc chắn muốn xóa tác giả @Model.Tentacgia ?</h4>
			<form asp-action="xoaTacgia" method="post">
				<input type="hidden" name="id" value="@Model.Matacgia" />
				<input type="submit" value="Xóa" class="btn btn-danger" />
			</form>
		}
		else
		{
			<h4>Đã tồn tại cuốn sách thuộc sở hữu của tác giả @Model.Tentacgia</h4>
		}
	</div>
</div>
