@model IEnumerable<OnlineLibraryManagement.MyModels.CTacgia>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1 class="mt-4 mb-4">Danh sách tác giả</h1>

<p>
	<a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#formModal" style="padding-left:1em">
		<i class="fa-solid fa-plus me-2" style="color: #ffffff;"></i>Thêm tác giả
	</a>
</p>
<div class="p-3 bg-light">
	<table class="table overflow-hidden border-top align-middle table-hover">
		<thead class="border-top border-dark table-bordered">
			<tr>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Matacgia)
				</th>
				<th class="ps-5">
					@Html.DisplayNameFor(model => model.Tentacgia)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ngaysinh)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ngaymat)
				</th>
				<th class="ps-5">
					@Html.DisplayNameFor(model => model.Quoctich)
				</th>
				<th class="text-center border-start">
					Tác vụ
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Matacgia)
					</td>
					<td class="ps-5">
						@Html.DisplayFor(modelItem => item.Tentacgia)
					</td>
					<td>
						@if (item.Ngaysinh != null)
							@item.Ngaysinh.Value.ToShortDateString()
						else
						{
							<text>Không rõ</text>
						}
					</td>
					<td>
						@if (item.Ngaymat != null)
							@item.Ngaymat.Value.ToShortDateString()
						else
						{
							<text>Không rõ</text>
						}
					</td>
					<td class="ps-5">
						@Html.DisplayFor(modelItem => item.Quoctich)
					</td>
					<td class="text-center border-start">
						<a asp-action="frmSuaTacgia" asp-route-id="@item.Matacgia" class="btn btn-primary me-2">
							<i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
						</a>
						<a asp-action="frmXoaTacgia" asp-route-id="@item.Matacgia" class="btn btn-danger">
							<i class="fa-solid fa-trash" style="color: #ffffff"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- Thêm -->
<div class="container">
	<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title mt-1">Thêm tác giả</h4>
					<button type="button" class="btn-close me-1" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ms-4 me-4">
					<div class="mb-3">
						<label class="form-label">
							@Html.DisplayNameFor(model => model.Tentacgia)
						</label>
						<input class="form-control" id="tentg">
						<p class="text-danger" id="validten"></p>
					</div>
					<div class="mb-3">
						<label class="form-label">
							@Html.DisplayNameFor(model => model.Ngaysinh)
						</label>
						<input type="date" class="form-control" id="ngaysinh" />
					</div>
					<div class="mb-3">
						<label class="form-label">
							@Html.DisplayNameFor(model => model.Ngaymat)
						</label>
						<input type="date" class="form-control" id="ngaymat" />
					</div>
					<div>
						<label class="form-label">
							@Html.DisplayNameFor(model => model.Quoctich)
						</label>
						<input class="form-control" id="quoctich" />
					</div>
				</div>
				<div class="modal-footer border-0">
					<input type="button" value="Thêm" onclick="themTacgia()" class="btn btn-success me-4 mb-3" />
				</div>
			</div>
		</div>
	</div>
</div>

