@model IEnumerable<OnlineLibraryManagement.Models.Phieugiahan>

@{
	ViewData["Title"] = "Phiếu gia hạn";
	Layout = "~/Views/Shared/_LibrarianLayout.cshtml";
}

<h1 class="mt-4 mb-4">Danh sách phiếu gia hạn</h1>

<div class="p-3 bg-light">
	<table class="table overflow-hidden border-top table-hover align-middle">
		<thead class="border-top border-dark table-bordered">
			<tr>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Maphieu)
				</th>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Ngaylapphieu)
				</th>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Hantramoi)
				</th>
				<th class="text-center">
					@Html.DisplayNameFor(model => model.Maphieumuon)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Matinhtrang)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Matt)
				</th>
				<th>
					Độc giả
				</th>
				<th class="text-center border-start" style="width: 12em">
					Tác vụ
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Maphieu)
					</td>
					<td class="text-center">
						@item.Ngaylapphieu.Value.ToShortDateString()
					</td>
					<td class="text-center">
						@if (item.Hantramoi != null)
						{
							@item.Hantramoi.Value.ToShortDateString()
						}
						else
						{
							<text>--/--</text>
						}
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Maphieumuon)
					</td>
					<td>
						<b>@item.MatinhtrangNavigation.Tentinhtrang</b>
					</td>
					<td>
						@if (item.MattNavigation != null)
						{
							@item.MattNavigation.Tentt
						}
					</td>
					<td>
						@item.MaphieumuonNavigation.MadocgiaNavigation.Tendocgia
					</td>
					<td class="text-center border-start">
						<a asp-action="formXemCTPhieuGiahan" class="btn btn-primary" asp-route-maphieugiahan="@item.Maphieu">Xem chi tiết</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@if (TempData["Message"] != null)
{
	<script>
		alert('@Html.Raw(TempData["Message"])');
	</script>
}